version: '3'

services:
  web:
    build: .
    ports:
      - "8080:80"
    env_file:
      - .env
    environment:
      - DB_DRIVER=${DB_DRIVER:-sqlite}
    volumes:
      - ./data:/var/www/html/data
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    env_file:
      - .env
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE:-iptv}
      - MYSQL_USER=${MYSQL_USER:-iptv_user}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-changeme}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root_changeme}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: always
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
